{% extends "base.html" %}
{% block content %}
<head><title>Вход</title></head>

    <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
    <p>Пожайлуста, заполните форму, чтобы войти и просматривать контент. Усли ещё нет аккаунта <a href="{% url 'register' %}">зарегестрируйтесь здесь</a>.</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input class="btn btn-primary" type="submit" value="Войти"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    </div>
{% endblock %}