{% extends "base.html" %}

{% block content %}
<head><title>Сброс пароля</title></head>
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Пожайлуста, введите пароль дважды:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}    
            <p><input class="btn btn-primary" type="submit" value="Поменять мой пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка на сброс пароль не прошла проверку, похоже, что она уже использована
            . Пожайлуста, сбрости пароль ещё раз (повторите попытку).</p>
    {% endif %}
{% endblock %}