{% extends "base.html" %}


{% block content %}
<head><title>Редактирование записей</title></head>

    <h1>Профиль, редактирование записей.</h1>
    <p>Приветствуюем вас, здесь вы можете отсмотреть ваши записа, редактировать их.</p>

{% for p in page_obj%}
<br>
<div class="card">
  <div class="card-header">
    От {{ p.author }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{p.title}}</h5>
    <p class="card-text">{{p.body|linebreaks|truncatewords:90}}</p>
    <a href="{%url 'post_detail' p.slug %}" class="btn btn-primary">Подробнее</a>
  </div>
    {% if p.status != "published" %}
    <div class="card-footer text-body-secondary"></div>
        <div class="alert alert-danger" role="alert">
            Запись выше не опубликована! Смените значение Draft на Published.
            <a href="{% url 'post_edit' p.slug %}" class="alert-link">Нажмите, если хотите изменить запись</a>.
        </div>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}