{% extends "base.html" %}


{% block content %}
<head><title>Редактирование записей</title></head>

    <h1>Профиль, редактирование записей.</h1>
    <p>Приветствуюем вас, здесь вы можете отсмотреть ваши записи, редактировать их.</p>


<!--Отображение всех созданных личных записей | Displaying all created personal posts-->
{% for p in page_obj%}
<br>
<div class="card">
  <div class="card-header">
    От <b><a href="{%url 'blogers' p.author.id %}">{{p.author}}</a></b> в <b>{{p.created}}</b>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{p.title}}</h5>
    <p class="card-text">{{p.body|linebreaks|truncatewords:90}}</p>
    <a href="{%url 'post_detail' p.slug %}" class="btn btn-primary">Подробнее</a>
  </div>
    {% if p.status != "published" %}
    <div class="card-footer text-body-secondary"></div>
        <div class="alert alert-danger" role="alert">
            Запись выше не опубликована! Смените значение Draft на Published.
            <a href="{% url 'post_edit' p.slug %}" class="alert-link">Нажмите, если хотите изменить запись</a>.
        </div>
    </div>
    {% endif %}
</div>
  {% empty %}
  <p>У вас нет запесей</p>
{% endfor %}
<br>
<!--Pagination-->
{% if page_obj %}
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
    </li>
    {% endif %}
  {% for p in page_obj.paginator.page_range %}
    {% if page_obj.number == p %}
      <li class="page-item active"><a class="page-link" href="#">{{ p }}</a></li>
    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
      <li class="page-item">
        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
      </li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li class="page-item">
     <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
    </li>
  {% endif %}
  </ul>
</nav>
{%endif%}
{% endblock %}