{% extends "base.html" %}

<!--ВЫВОД СТАТЕЙ | ALL POSTS-->
{% block content %}
<head><title>{{post.title}}</title></head>
  <h2>{{post.title}}</h2>
  <p>Автор: {{post.author}}</p>
  <p>Текст: {{post.body|linebreaks}}</p>
  <p>Создана: {{post.created}}</p>
  {% if post.created != post.updated%}
  <p>Последнее изменение: {{post.updated}}</p>
  {% endif %}
  
  {% if user == post.author %}
    <p><a class="btn btn-warning" href="{% url 'post_edit' slug=post.slug %}" role="button">Изменить</a></p>
    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Удалить
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'post_delete' post.slug %}">Подтвердить удаление</a></li>
        </ul>
      </div>
  {% endif %}


<!--Alert adout Draft setting and output of all comments-->
{% if post.status == 'published' %}
  {% with comments.count as total_comments %}
    <h2>
        Всего {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
{% endwith %}

{% for comment in comments %}
    <div class="comment">
        <h4 class="info">
            {{ forloop.counter }} коментарий от {{ comment.name }} в
            {{ comment.created }}
        </h4>
        <p>{{ comment.body|linebreaks }}</p>
    </div>
{% empty %}
    <p>Пока тут нет комементариев.</p>
{% endfor %}
    <h2>Добавить комментарий</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn btn-success" value="Добавить коментарий">
    </form>
{%else%}
    <br>
    <div class="alert alert-primary" role="alert">
      Запись в черновике. Если хотите, чтобы другие пользователи тоже могли видеть и комментировать запись,
      измените значение Draft на Published <a href="{% url 'post_edit' post.slug %}" class="alert-link">в редактировании записи</a>.
    </div>
{%endif%}
 {% endblock %}