{% extends "base.html" %}

{% block content %}
<head><title>Все записи</title></head>

{% if not page_obj%}
  <h2>Пока записей нет :(</h2>
{% endif%}


<!--Все посты с информацией из бд | All posts with information from db-->
{% for p in page_obj%}
<div class="card">
  <div class="card-header">
    От {{ p.author }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{p.title}}</h5>
    <p class="card-text">{{p.body|linebreaks|truncatewords:100}}</p>
    <a href="{%url 'post_detail' p.slug %}" class="btn btn-primary">Подробнее</a>
  </div>
</div>
<br>
{% endfor %}

<!--Pagination-->
{% if page_obj %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
    </li>
    {% endif %}
  {% for p in page_obj.paginator.page_range %}
    {% if page_obj.number == p %}
      <li class="page-item active"><a class="page-link" href="#">{{ p }}</a></li>
    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
      <li class="page-item">
        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
      </li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li class="page-item">
     <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
    </li>
  {% endif %}
  </ul>
</nav>
{%endif%}
 </body>
{%endblock%}